*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    color: #333;
}
ul{
    list-style: none;
}
html,body{
    width: 100%;
    height: 100%;
    background-color: #ededed;
}
.clearfix:after{/*伪元素是行内元素 正常浏览器清除浮动方法*/
    content: "";
    display: block;
    height: 0;
    clear:both;
    visibility: hidden;
}
.clearfix{
    *zoom: 1;/*ie6清除浮动的方式 *号只有IE6-IE7执行，其他浏览器不执行*/
}
.blm-header{
    width: 100%;
    height: 60px;
    background-color: #9cb240;
}
.blm-header .hd-container{
    width: 1200px;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}
.blm-header .hd-container .hd-logo{
    float: left;
}
.blm-header .hd-container .hd-logo .title{
    display: inline-block;
    font-family: 'STHupo';
    color: #c4c38f;
    height: 100%;
    line-height: 60px;
}
.hd-container .hd-logo > span{
    font-size: 50px;
    color: #c4c38f;
}
.hd-container .list-title{
    height: 100%;
    line-height: 60px;
    margin-left: 20px;
    float:left;
}
.hd-container .list-title > a{
    width: 160px;
    height: 100%;
    font-size: 20px;
    display: block;
    text-align: center;
    float: left;
    line-height: 60px;
    transition: 0.3s;
}
.hd-container .list-title > a:hover{
    background: linear-gradient(270deg,#b3bc6e,#c4c38f);
}
.hd-container .list-title > a:nth-child(2){
    background-color: #b3bc6e;
}
.hd-container .user-info{
    position: relative;
    float: right;
    height: 100%;
    line-height: 60px;
    font-size: 16px;
}
.hd-container .user-info .user-name{
    padding-right: 20px;
}
.hd-container .user-info .iconfont{
    cursor: pointer;
    font-size: 22px;
    transition: 0.3s;
}
.hd-container .user-info .iconfont:hover{
    color: #fff;
    font-weight: bold;
}
.hd-container .user-info .targetList{
    position: absolute;
    right: 0;
    width: 120px;
    box-shadow: 0px 0px 3px #424242,0px 0px 5px;
    background-color: #fff;
    z-index: 99;
    font-size: 12px;
    display: none;
}
.hd-container .user-info .targetList .small-span{
    width: 16px;
    height: 16px;
    position: absolute;
    z-index: 96;
    background-color: #fff;
    transform: rotate(45deg);
    right: 15px;
    top: -10px;
    border-top: 2px solid #333;
    border-left: 2px solid #333;
}
.hd-container .user-info .targetList ul{
    width: 100%;
    box-sizing: border-box;
    padding: 5px;
    padding-top: 12px;
}
.hd-container .user-info .targetList ul li{
    height: 30px;
    line-height: 30px;
    width: 100%;
    box-sizing: border-box;
    padding: 3px;
    border-radius: 3px;
    cursor: pointer;
}
.hd-container .user-info .targetList ul li:hover{
    background-color: #ddd;
}
.hd-container .user-info .targetList ul li .iconfont{
    font-size: 10px;
}
.blm-place{
    width: 100%;
}
.blm-place .place-container{
    position: relative;
    width: 1200px;
    padding-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
}
.blm-place .place-container .now-place{
    height: 50px;
    line-height: 50px;
    font-size: 12px;
    width: 500px;
    overflow: hidden;
}
.place-container .now-place .pSpan-1{
    color:#666;
    padding-right: 10px;
}
.place-container .now-place .pSpan-2{
    color: #333;
    padding-right: 10px;
}
.place-container .now-place .pSpan-2:hover{
    color: #0089dc;
}
.place-container .now-place .pSpan-3 a{
    color: #0089dc;
    padding-right: 10px;
}
.place-container .now-place .pSpan-4{
    color: #333;
}
.blm-bottom{
    width: 100%;
    height: 80px;
    background-color: #87AB31;
}
.bot-container{
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    height: 80px;
    line-height: 80px;
    color: #ededed;
    overflow: hidden;
}
.bot-container .web-info .group-info{
    font-size:18px;
    font-family: 'YouYuan';
    font-weight: bold;
}
.bot-container .web-info .author{
    padding-left: 20px;
    color: #333;
    font-family: 'YouYuan';
    font-size: 12px;
}
.bot-container .web-info{
    width: 300px;
    float: left;
}
.bot-container .toTop{
    margin-left: 200px;
    padding: 15px;
    border-radius: 20px;
    background-color: #b3bc6e;
    height: 40px;
    line-height: 40px;
    cursor: pointer;
}
.bot-container .toTop span{
    color: #3B200C;
    font-weight: bold;
    font-family: 'YouYuan';
}
.blm-wrap{
    width: 100%;
}
.blm-wrap .wrap-container{
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
}
.blm-wrap .wrap-container .wrap-left{
    float: left;
    width: 170px;
}
.left-panner{
    width: 170px;
    height: 600px;
}
.wrap-left ul.sidebar{
    width: 100%;
}
.wrap-left ul.sidebar > li{
    font-size: 18px;
    margin-bottom: 32px;
    font-weight: 700;
    font-weight: bold;
    color: #333;
    overflow: hidden;
}
.wrap-left ul.sidebar > li:nth-child(1){
    cursor: pointer;
}
.wrap-left ul.sidebar > li > span.iconfont{
    padding-right: 20px; 
}
.wrap-left ul.sidebar > li > ul > li a{
    font-size: 14px;
    cursor: pointer;
    color: #666;
}
.wrap-left ul.sidebar > li > ul{
    padding-top: 15px;
    padding-left: 50px;
    font-size: 14px;
}
.wrap-left ul.sidebar > li > ul > li{
    line-height: 25px;
}
.wrap-right{
    width: 1030px;
    float: right;
    /* background-color: #fff; */
    /* height: 1000px; */
}
.wrap-right .personal-center{
    width: 100%;
}
.personal-center .header-box{
    box-sizing: border-box;
    width: 100%;
    padding: 30px 20px;
    border:  1px solid #ccc;
    height: 180px;
    background-color: #fff;
}
.personal-center .header-box .header-item{
    width: 50%;
    float: left;
    box-sizing: border-box;
}
.personal-center .header-box .header-item:nth-child(1){
    border-right: 1px solid #ccc;
}
.header-item .imgBox img{
    height: 120px;
    width: 120px;
}
.header-item .imgBox{
    float: left;
}
.header-item .info{
    padding-top: 20px;
    float: left;
    height: 100px;
    line-height: 40px;
    padding-left: 15px;
}
.header-item .info .user-info{
    font-weight: 400;
    font-size: 16px;
}
.header-item .info .say-some{
    font-size: 12px;
    color: #999;
}
.header-item:nth-child(2) > div{
    height: 120px;
    float: left;
    width: 200px;
    text-align: center;
    line-height: 120px;
    font-size: 14px;
}
.header-item:nth-child(2) > div.packet{
    color: #fc463f;
}
.header-item:nth-child(2) > div.packet .num{
    font-size: 24px;
    padding: 5px;
    font-weight: bold;
}
.recent-order{
    width: 100%;
    box-sizing: border-box;
    padding: 20px 20px 0;
    background-color: #fff;
}
.recent-order .order-header{
    line-height: 44px;
    height: 44px;
    border-bottom: 1px solid #999;
}
.recent-order .order-header .recent-ticket{
    display: block;
    height: 44px;
    float: left;
    line-height: 44px;
    padding: 0px 20px;
    border-bottom: 3px solid #9cb240;
    color: #c4c38f;
    font-weight: bold;
}
.recent-order .order-header .all-ticket{
    height: 44px;
    display: block;
    float: right;
    color: #999;
    font-size: 12px;
    line-height: 44px;
}
.recent-order .load-more{
    width: 100%;
    height: 60px;
    line-height: 60px;
    background:linear-gradient(45deg,#b3bc6e,#c4c38f);
    color: #fff;
    border-radius: 30px;
    margin-top: 20px;
    box-sizing: border-box;
    padding-left: 100px;
    display: none;
}
.recent-order .order-item{
    display: table;
    padding: 20px 0 15px;
    width: 100%;
    text-align: center;
    border-top: 1px solid #eee;
}
.order-item .order-rst{
    display: table-cell;
    vertical-align: middle;
    font-size: 12px;
    text-align: left;
    width: 600px;
}
.order-item .order-rst a.logo img{
    width: 70px;
    height: 70px;
    vertical-align: top;
    display: inline-block;
}
.order-item .order-rst .info{
    display: inline-block;
    width: 400px;
    margin-left: 20px;
}

.order-item .order-rst .info .name a{
    font-size: 16px;
    font-weight: 700;
}
.order-item .order-rst .info .product{
    margin: 6px 0;
    color: #999;
}
.order-item .order-rst .info .productnum{
    margin: 6px 0;
    color: #999;
}
.order-item .order-rst .info .productnum i.num{
    color: #fc463f;
    padding: 3px;
}
.order-item .order-time{
    width: 85px;
    color: #999;
    display: table-cell;
    vertical-align: middle;
    font-size: 12px;
}
.order-item .order-price{
    width: 190px;
    display: table-cell;
    vertical-align: middle;
    font-size: 12px;
    font-size: 16px;
}
.order-item .order-status{
    display: table;
    padding: 20px 0 15px;
    width: 100%;
    text-align: center;
}
.order-item .order-status p.status{
    font-size: 16px;
    color: #999;
}
.order-item .order-status a.link{
    color: #0089dc;
    font-size: 12px;
}
.order-detail{
    width: 100%;
    box-sizing: border-box;
    padding: 20px;
    background-color: #fff;
}
.order-detail .detail-title{
    border-bottom: 2px solid #f4f4f4;
    padding: 0 20px 11px;
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 30px;
}
.order-detail .show-status{
    position: relative;
    padding: 24px 32px 0 30px;
    min-height: 94px;
    border: 1px solid #f8e5bb;
    background-color: #fefdee;
    line-height: 1;
}
.order-detail .show-status > h5{
    padding-bottom: 12px;
    font-size: 16px;
    color: #333;
}
.order-detail .show-status > p{
    padding-bottom: 8px;
    line-height: 1.5;
    font-size: 14px;
    color: #999;
}
.order-detail .detail-shop{
    width: 100%;
    height: 80px;
    box-sizing: border-box;
    padding: 18px 30px 16px;
    background-color: #f8f8f6;
    border: 1px solid #eee;
    margin-top: 20px;
}
.order-detail .detail-shop a img{
    width: 44px;
    height: 44px;
}
.order-detail .detail-shop a{
    display: inline-block;
}
.order-detail .detail-shop .shop-info{
    display: inline-block;
}
.order-detail .detail-shop .shop-info .ticket-info{
    line-height: 22px;
    font-size: 14px;
    color: #999;
}
.order-detail .detail-shop .shop-info .ticket-info span:nth-child(1){
    padding-right: 20px;
}
.order-detail .detail-content{
    display: table;
    width: 100%;
}
.order-detail .detail-content > div{
    box-sizing: border-box;
}
.order-detail .detail-content .diet-list{
    float: left;
    width: 560px;
    /* height: 800px; */
    background-color: #f8f8f8;
    border: 1px solid #ddd;
}
.order-detail .detail-content .piao-list{
    float: right;
    width: 430px;
    /* height: 800px; */
    background-color: #fff;
    border-right: 1px solid #eee;
    padding: 20px 0 20px 30px
}
.order-detail .detail-content .diet-list .diet-title{
    display: table;
    width: 100%;
    padding: 20px 0 16px;
    font-weight: 700;
    border-bottom: 1px solid #eee;
    color: #333;
}
.order-detail .detail-content .diet-list .diet-title span{
    display: table-cell;
    font-size: 12px;
}
.order-detail .detail-content .diet-list > div span:nth-child(1){
    padding-left: 30px;
    width: 60%;
    text-align: left;
}
.order-detail .detail-content .diet-list > div  span:nth-child(2){
    width: 10%;
    text-align: center;
}
.order-detail .detail-content .diet-list > div  span:nth-child(3){
    padding-right: 30px; 
    width: 30%;
    text-align: right;
}
.order-detail .detail-content .diet-list .diet-row span{
    display: table-cell;
    font-size: 12px;
    font-weight: normal;
}
.order-detail .detail-content .diet-list .diet-row{
    display: table;
    width: 100%;
    padding: 10px 0 10px;
    color: #333;  
}
.order-detail .detail-content .diet-list .song-row{
    display: table;
    width: 100%;
    padding: 10px 0 10px;
    color: #333; 
}
.order-detail .detail-content .diet-list .song-row span{
    display: table-cell;
    font-size: 12px;
    font-weight: normal;
}
.order-detail .detail-content .diet-list .real-pay{
    border-top: 1px solid #ddd;
    width: 100%;
    text-align: right;
    padding: 20px 30px 40px 30px;
    box-sizing: border-box;
}
.order-detail .detail-content .diet-list .real-pay .pay-num{
    font-size: 26px;
    font-weight: 700;
    color: #f74342;
    padding: 5px;
}
.order-detail .detail-content .piao-list .group{
    border-bottom: 1px dashed #eee;
    padding: 20px 0 4px;
    font-size: 12px;
    line-height: 20px;
}
.recent-order{
    width: 100%;
    min-height: 800px;
}
.recent-order .r-header h3{
    border-bottom: 2px solid #f4f4f4;
    padding: 0 20px 11px;
    font-size: 18px;
    font-weight: 700;
}
.r-content .r-table{
    width: 100%;
    word-break: break-all;
    word-wrap: break-word;
    border-spacing: 0;
}
.r-content .r-table thead th{
    text-align: center;
    font-size: 12px;
}
.r-content .r-table thead tr:nth-child(1){
    height: 10px;
}
.r-content .r-table thead{
    background-color: #eee;
}
.r-content .r-table thead tr{
    line-height: 30px;
}
.r-content .r-table tbody td{
    box-sizing: border-box;
}
.r-content .r-table tr th:nth-child(1){
    width: 80px;
}
.r-content .r-table tr th:nth-child(2){
    width: 120px;
}
.r-content .r-table tr th:nth-child(3){
    width: 400px;
}
.r-content .r-table tr th:nth-child(4){
    width: 120px;
}
.r-content .r-table tr td:nth-child(1){
    width: 80px;
}
.r-content .r-table tr td:nth-child(2){
    width: 120px;
}
.r-content .r-table tr td:nth-child(3){
    width: 400px;
}
.r-content .r-table tr td:nth-child(4){
    width: 120px;
}
.r-content .r-table tbody > tr{
    height: 135px;
}
.r-content .r-table tbody > tr > td.ro-time{
    position: relative;
    text-align: right;
    padding-right: 18px;
    font-size: 12px;
    position: relative;
    width: 8%;
    color: #999;
    border-right: 1px #eee solid;
}
.r-content .r-table tbody > tr > td.ro-time span.iconfont{
    position: absolute;
    right: -9px;
    top: 58px;
    font-weight: bold;
}
.r-content .r-table tbody > tr > td.ro-avator{
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left:30px;
    padding-right: 20px;
}
.r-content .r-table tbody > tr > td.ro-avator img{
    width: 70px;
    height: 70px; 
}
.r-content .r-table tbody > tr > td.ro-info{
    font-size: 12px;
    color: #999;
    line-height: 20px;
}
.r-content .r-table tbody > tr > td.ro-amount{
    text-align: center;
}
.r-content .r-table tbody > tr > td.ro-amount h3{
    font-weight: 600;
    font-size: 18px;
}
.r-content .r-table tbody > tr > td.ro-status h3{
    font-size: 12px;
    color: #999;
    font-weight: normal;
}
.r-content .r-table tbody > tr > td.ro-status{
    text-align: center;
}
.r-content .r-table tbody > tr > td.ro-handle{
    text-align: center;
}
.r-content .r-table tbody > tr > td.ro-handle span{
    font-size: 12px;
    color: #333;
    padding: 5px 10px;
    border: 1px solid #333;
    cursor: pointer;
}
.r-content .r-table tbody > tr > td.ro-handle span:hover{
    color: #0089dc;
    border: 1px solid #0089dc;
}
.place-manager{
    width: 100%;
    height: 800px;
    border: 1px solid #eee;
    background-color: #fff;
    min-height: 680px;
    margin-bottom: 50px;
}
.place-manager .p-header{
    border-bottom: 2px solid #f4f4f4;
    padding-bottom: 20px;
    box-sizing: border-box;
    font-size: 18px;
    font-weight: 700;
    padding: 20px 18px;
}
.place-manager .place-box{
    width: 100%;
    box-sizing: border-box;
    padding: 25px 20px;
}
.place-manager .place-box .box-item{
    width: 260px;
    margin-right: 30px;
    position: relative;
    float: left;
    height: 110px;
    padding: 16px 12px 16px 20px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    transition: 0.3s;
}
.place-manager .place-box .box-item:hover{
    border: 1px solid #0089dc;
}
.place-manager .place-box .box-item:hover .top .operate span{
    color: #0089dc;
}
.place-manager .place-box .box-item .top{
    height: 30px;
    line-height: 30px;
    position: relative;
    font-size: 14px;
    color: #333;
}
.place-manager .place-box .box-item .top > span{
    padding: 10px;
    transition: 0.3s;
}
.place-manager .place-box .box-item .top .operate{
    position: absolute;
    right: 0;
    top: 0;
    color: #ccc;
}
.place-manager .place-box .box-item .top .operate span{
    cursor: pointer;
    padding: 5px;   
}
.place-manager .place-box .box-item .content{
    margin-top: 20px;
    height: 30px;
    line-height: 30px;
    font-size: 14px;
}
.place-manager .place-box .box-item .bottom{
    height: 30px;
    line-height: 30px;
    font-size: 14px;
}
.place-manager .place-box .box-item .delete-box{
    position: absolute;
    left: 0;
    top: 0;
    width: 294px;
    height: 144px;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 98;
    display: flex;
    flex-direction: column;
}
.place-manager .place-box .box-item .hide{
    display: none;
}
.place-manager .place-box .box-item .delete-box p{
    text-align: center;
    color: #fff;
    margin: 20px auto;
    font-size: 16px;
    font-weight: 400;
}
.place-manager .place-box .box-item .delete-box .choose-btn{
    margin: 0px auto;
}
.place-manager .place-box .box-item .delete-box .choose-btn span{
    cursor: pointer;
    padding: 5px 12px;
    font-size: 14px;
}
.place-manager .place-box .box-item .delete-box .choose-btn span:nth-child(1){
    background-color: #0089dc;
    color: #fff;
    
}
.place-manager .place-box .box-item .delete-box .choose-btn span:nth-child(2){
    background-color: #fff;
    color: #333;
    margin-left: 10px;
}